
<div class="container center_div">
  <form>
    <div class="form-group">
      <label  for="title">Title</label>
      <input [(ngModel)]="title" type="text" class="form-control" id="title" >
    </div>

    <div class="form-group">
      <label for="abstract">Abstract</label>
      <input [(ngModel)]="abstract" type="text" class="form-control" id="abstract" >
    </div>

    <div class="form-group">

    <select class="form-control" [(ngModel)]="selectedKeyword" id="version" name="version" ngModel required>
      <option *ngFor="let keyword of keywords" [value]="keyword" selected="selected">{{keyword}}</option>
    </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Keywords</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>WPS 2.0</option>
        <option>OGC</option>
      </select>
    </div>


    <div class="form-group">
      <label for="serviceType">ServiceType</label>
      <input type="email" class="form-control" id="serviceType" [(ngModel)]="serviceType">
    </div>

    <div class="form-group">
      <label for="serviceVersion">Service Version</label>
      <input type="email" class="form-control" id="serviceVersion" [(ngModel)]="serviceVersion" >
    </div>

    <div class="form-group">
      <label for="fees">Fees</label>
      <input type="email" class="form-control" id="fees"  [(ngModel)]="fees">
    </div>

    <div class="form-group">
      <label for="accessConstraints">Access Constraints</label>
      <input type="email" class="form-control" id="accessConstraints" [(ngModel)]="accessConstraints">
    </div>

  </form>
</div>
