.center_div{
    margin: 40px;
    width:70% /* value of your choice which suits your alignment */
}


.sub_div{
    margin: 40px;
    width:80% /* value of your choice which suits your alignment */
}
